body {
  background: #f2f1f0;
  font-family: verdana,helvetica,sans-serif;
}

.navheader, .book, .chapter, .appendix, .navfooter {
  width: 50em;
  margin-left: auto;
  margin-right: auto;
}

a.commenttoggle:hover, a.commenttoggle:active {
  opacity: 0.7;
}

a:hover, a:active {
  border-bottom: 1px solid #aaaaaa;
}

.book, .chapter, .appendix {
  background: white;
  padding: 2em;
}

h2 {
  font-family: georgia,serif;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: georgia,serif;
  font-weight: normal;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

div.note th {
  font-family: georgia,serif;
  font-weight: normal;
  font-size: 110%;
}

div.navheader th, div.navfooter td {
  font-family: georgia,serif;
}

pre.screen {
  background-image: url(figs/shell.png);
}

pre.programlisting {
  background-image: url(figs/source.png);
}

pre.screen, pre.programlisting {
  background-repeat: no-repeat;
  background-position: 10px 10px;
  padding-left: 70px;
}

strong.command, code, pre {
  font-family: monospace;
  font-weight: normal;
}

strong.userinput > code {
  font-weight: bolder;
  color: #303030;
}

div.toc > p {
  opacity: 0.35;
  font-family: georgia,serif;
  font-weight: normal;
  cursor: pointer;
}

div.toc > dl {
  display: none;
}

.programlisting, .screen {
  border-style: solid;
  border-width: 1px;
  font-size: medium;
  overflow: hidden;
  padding: 1em;
}

span.remark {
  border-style: solid;
  border-width: 1px;
  font-size: medium;
  overflow: hidden;
  margin: 1em;
  background: #FFEFC0 none repeat scroll 0% 50%;
  border-color: #DC9B40;
  opacity: 0.4;
}

.screen {
  background: #E0FFB8 none repeat scroll 0% 50%;
  border-color: #94DA3A;
}

.programlisting {
  background: #F0F4FF none repeat scroll 0% 50%;
  border-color: #B4BAEA;
}

.prompt {
  color: #448844;
}

div.note {
  background: #ffffc9;
  border-color: #B4BAEA;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
}

.note .title {
  font-size: 90%;
}

.comment {
  font-size: 80%;
}

div.comment, div.new_comment {
  padding: 0.5em;
  margin: 0.5em;
  margin-left: 2em;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaff;
}

div.comment {
  background: #eeeeff;
}

div.new_comment {
  background: #d0d0ff;
}

.commenttoggle {
  opacity: 0.35;
}

.comment_help {
  font-size: 80%;
}

.comment_header {
  opacity: 0.75;
}

.comment_name {
  font-weight: bolder;
}

.comment_date {
  opacity: 0.75;
}

.comment_thanks {
  color: darkblue;
  margin-left: 1em;
  font-style: italic;
  font-weight: bolder;
}

.comment_error {
  padding-left: 1em;
  font-weight: bolder;
  font-size: 80%;
  color: darkred;
}

.license {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60em;
  font-size: 80%;
  opacity: 0.6;
}
